.cabecera{
  background-color: #00FFAB;
}
.cuerpo{
  background-color: purple;

}
.cabecera img{
  width: 150px;
  height: auto;

}
.animetatuajes img{
  width: 200px;
  height: auto;
}
.art2 img{
  height: auto;
}
.noticias{

}
